# Node.js dependencies
node_modules/
package-lock.json

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/

# TypeScript build artifacts
dist/
out/
*.js
*.js.map
*.d.ts
*.d.ts.map

# Testing
coverage/

# Environment files
.env

# Extensions
.vscode-test/

*.vsix